* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* primeira caixa */

.primeira_caixa {
    padding: 40px;
    background: rgb(238, 238, 238);
    margin-top: 50px;
    text-align: center;
    /* width: 400px; */
    margin-bottom: 50px;
}

.primeira_caixa h2 {
    font-size: 20px;
    color: rgb(109, 109, 109);
}

.primeira_caixa p {
    font-size: 14px;
    margin-top: 50px;
    color: rgb(109, 109, 109);
}

.primeira_caixa span {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(59, 59, 59);
}

/* caixa vazia */

.caixa_vazia {
    width: 200px;
    height: 200px;
    background: red;
    text-align: center;
}

.caixa_vazia p {
    color: white;
}

/* caixa pai */

.caixa_pai {
    width: 500px;
    height: 300px;
    margin-top: 50px;
    background: orangered;
}

.caixa_filho {
    background: green;
    width: 100px;
    height: 50px;
    margin-right: -100px;
}

/* segunda caixa */

.segunda_caixa {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 400px;
    padding: 40px;
    background: rgb(233, 233, 233);
    transition: .3s;
}

.segunda_caixa h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.segunda_caixa form input {
    width: 100%;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.segunda_caixa form button {
    width: 100%;
    padding: 15px;
    border: none;
    background: rgb(41, 41, 41);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 14px;
}

.segunda_caixa form button:hover {
    background: rgb(81, 81, 81);
}